
.footer-background {
    border-top: 1px $color-gray-40 solid;
    justify-self: baseline;
    background-color: $color-gray-20;
    padding: 1rem;
    text-align: center;
    font-family: $font-poppins;

    .social-media-links {
        margin: 0.8rem;

        a {
            margin-right: 1rem;

            &:last-child{
                margin-right: 0rem;
            }
        }
    }

    p {
        font-size: $font-size-13;
        color: $color-gray-60;
    }
}

.footer-shirt-page{
    position: absolute;
    bottom:0;
    width: 100%;

    @include lg {
        position: static;
    }
}


