.header {
    position: fixed;
    top:0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 5rem;
    padding:0 2rem;
    z-index: 10;

    @include lg {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // LOGO
    .logo {
        grid-column: 1;
        grid-row: 1;
    }

    // Navigation menu and drop down on small devices
    .dropdown-navigation-menu{
        position: absolute;
        top:100%;
        right:0;
        padding:1rem;
        backdrop-filter: blur(8px);
        background-color: rgba(255, 255, 255, 0.185);
        display: none;

        @include lg {
            display:inline;
            position: initial;
            backdrop-filter: none;
            background-color: transparent;
        }

        .navigation-menu {
            grid-column: 2;
            grid-row: 2;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding:0;
            margin-top: auto;
            margin-bottom: 0.3rem;
    
            @include lg {
                flex-direction: row;
                justify-content: space-between;
            }
    
            .navigation-menu-item {
                margin-right: 1rem;
                
    
                &:last-child{
                margin-right: 1rem;
                }
    
                @include md {
                    display:initial;
                }
                

            }   
    
        }
    }


    // my account and search
    .group {
        grid-column: 2;
        grid-area: 1;
        display: flex;
        justify-items: space-between;
        align-items: center;
        justify-self: end;
        margin-top: auto;
        margin-bottom: auto;
        height: fit-content;

        .search {
            i {
                display:none;
            }

            input {
                display:none;
            }
        }

        .dropdown-navigation-button {
            @include lg {
                display: none;
            }
        }
    }
}
